body{
  background-image: linear-gradient(to top, #131314 0%, #131315 52%, #151516 100%);
  width: 100%;
  height: 100vh;

}

.progressBar{
  width: 30rem;

  background: transparent;
  position: relative;
  height: 2rem;
  border-radius: 15px;
}
.box{
  height: 100%;
  position: absolute;
  border-radius: 15px;
  z-index: 2;
  background: #f1eff4;
  transition: width 0.5s ease 0s;
}
span{
  position: relative;
  z-index: 3;
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: rgb(238, 226, 226);
    
}
h1,p{
  color: rgb(244, 237, 237);
  
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}